<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Dicoding Front End Expert Submission 1">
    <title>Hunger App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner container">
        <h1 class="header__title">Hunger Apps</h1>
        <button id="hamburger">
          <img src="../assets/menu.svg" alt="drawer" />
        </button>
        <!-- <a id="hamburger" href="#">☰</a> -->
      </div>

      <ul class="header__nav container">
       
        <li class="nav__item"><a href="#/home">Home</a></li>
        <li class="nav__item"><a href="#">Favourite</a></li>
        <li class="nav__item"><a href="https://github.com/annassetiawan" target="_blank" rel="noopener">About Us</a></li>
      </ul>
      
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
       
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">Favourite</a></li>
        <li class="nav__item"><a href="https://github.com/annassetiawan" target="_blank" rel="noopener">About Us</a></li>
      </ul>
    </nav>
   
    <div class="hero">
      <div class="hero__overlay">
        <div class="hero__inner">
          <h1 class="hero__title">
            It’s not just <br />
            Food, it is an <br />
            Experience
          </h1>
          <p class="hero__tagline">
            Find your local favourites <br />
            restaurant
          </p>
        </div>
      </div>
    </div>
    <main id="mainContent">
      <!-- <section class="categories container">
        <h2>Location</h2>
        <p>Browse all the location</p>
        <div class="button_list_inner ">
          <button class="button all active_btn" >All</button>
          <button class="button" data-id="1">Medan</button>
          <button class="button" data-id="2">Bali</button>
          <button class="button"data-id="3">Malang</button>
          <button class="button" data-id="4">Aceh</button>
          <button class="button" data-id="5">Ternate</button>
          <button class="button" data-id="6">Surabaya</button>
        </div>
      </section>
      <hr class="container">
      <section class="container">
        <h2>Restaurant</h2>
        <p>List all of available restaurants</p>
        <div class="section_list">

        </div>
       
      </section> -->
    
      <!--  -->
    </main>
    <footer>
      <p>Copyright © 2020 - Hunger App</p>
    </footer>
  </body>
</html>
