.details {
  font-size: 12px;
  background-color: #040404;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "detailspic "
    "main";
  height: 100vh;
  position: relative;
  color: #fff;
}

.content__rating__details{
  justify-content: center;
}

.header__details {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.details__pic {
  /* grid-area: detailspic; */
  grid-area: hero;
  background-size: cover;
  position: relative;
  min-height: 350px;
  border-radius: 0 0 30px 30px;
}

.details__overlay {
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 0.39539565826330536) 19%,
    rgba(8, 8, 8, 0.8155637254901961) 100%
  );

  min-height: 350px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  border-radius: 0 0 30px 30px;
}

.details__nav {
  position: absolute;
  /* top: 20px; */
  left: 20px;
}

.details__desc {
  position: absolute;
  top: 200px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button_back {
  background-color: transparent;
  border: none;
}

.button_details_content {
  justify-content: center;
  margin: 20px 0;
}




/* .content:first-child{
  margin-top: 20px;
} */

.content__inner {
  padding: 28px 21px;
  min-height: 195px;
  display: flex;
  align-items: stretch;
}

.content__img {
  flex-basis: 50%;
  margin-right: 32px;
  min-width: 120px;
  border-radius: 6px;
}

.content__details {
  flex-basis: 50%;
  color: #fff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.content__place {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.content__place > img {
  height: 12px;
}

.content__rating__details {
  font-size: 2em;
  color: #ffd700;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.content__rating__details > img{
  width: 20px;
}

.main_details {
  grid-area: main;
  width: 100%;
 
}

.menu_details_categories {
  display: flex;
  justify-content: first baseline;
  margin: 20px 0;
}

.menu_details_categories > h2 {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffd700;
}

.menu_details_foods {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: capitalize;
}
.menu_details_drinks {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: capitalize;
}

.menu_details_foods_item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 20px;
}

.menu_details_foods_item > p {
  margin-left: 20px;
}

.hrdetails {
  margin: 10px 0;
}

.about_content{
  color: #fff;
  font-size: 12px;
}

.about_content >h2 {
  margin: 20px 0;
  color: #ffd700;
}

.review_details_image{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.review_details_image > img{
  width: 40px;
  margin-right: 20px;
}

.review_details_item{
  min-height: 100px;
  margin: 10px 0;
padding: 10px;
border-radius: 10px;
justify-content: center;
display: flex;
flex-direction: column;
background-color: #121212;
}

.review_details_desc{
  margin-top: 10px;
}